/* HOME */

.caixa-branca,
.caixa-branca-geral {
  position: relative;
  z-index: 20;
  margin: -45px 0px 0px 90px;
  background-color: white;
  box-shadow: -2px 5px 10px -3px rgba(0, 0, 0, 0.2);
}

.caixa-branca {
  min-height: 538px;
  padding: 60px 60px 40px 60px;
}

.img-autor {
  height: 396px;
  width: 312px;
  float: right;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.bem-vindo {
  padding-right: 60px;
}

.bv-descricao {
  margin-top: 30px;
}

.bv-sm {
  margin-top: 40px;
  float: right;
}

.img-dest {
  height: 428px;
  width: 100%;
}

.dest-sm {
  position: absolute;
  bottom: 24px;
  right: 0px;
}

.destaques {
  margin-top: 85px;
  margin-left: 90px;
  margin-right: 90px;
}

.destaques-cards {
  padding: 0px 7%;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  gap: 40px;
}

.destaques-cards .destaque-card {
  padding: 0;
  min-height: 700px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 329px !important;
  position: relative;
}

/* AUTOR */

.autor {
  min-height: 130px;
  padding-left: 45px;
}

.autor-titulo {
  margin-top: 50px;
}

.autor-img {
  width: 400px;
  aspect-ratio: 3/2;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 65px 0px 65px 0px;
}

.autor-txt {
  padding: 0px 13%;
}

.voltar-atras {
  border: none;
  width: 132px;
  height: 30px;
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/voltar1.svg");
}

.voltar-atras:hover {
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/voltar2.svg");
}

.autor-voltar {
  margin: 75px 12% !important;
}

.ver-mais {
  border: none;
  width: 90px;
  height: 26px;
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/vermais.svg");
}

.ver-mais:hover {
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/vermais-cinza.svg");
}

/* CONTACTOS */

.contactos {
  margin: 80px 0px;
}

.linha-contatos {
  margin: 40px auto;
  width: 60px;
  height: 1px;
  background-color: var(--cinza70);
}

/* LIVROS */

.livro {
  margin: 65px 5% 75px 6%;
  position: relative;
}

.livro-img {
  max-width: 55%;
  margin-left: -55px;
}

.livro-txt {
  padding: 0px 57px 0px 0px;
  margin-bottom: 30px;
}

.livro-voltar {
  position: absolute;
  right: 5%;
  bottom: 0;
}

/* IMPRENSA */

.imprensa-caixa {
  margin: 65px 0px 60px 0px !important;
  padding: 0px 10%;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.2);
}

.imprensa-linha {
  background-color: var(--douradoA9);
  height: 1px;
  margin: 12px 0px;
  width: 100%;
}

.imprensa-data {
  text-align: right;
}

.imprensa-img {
  margin: 40px 0px 80px 0px;
  width: 100%;
  aspect-ratio: 1043.22/585.41;
}

.imprensa-caixa-2 {
  margin: 80px 0px 90px 0px !important;
  padding: 0px 160px;
}

.imprensa-paginacao {
  margin-bottom: 90px;
}

.voltar-pagina {
  border: none;
  width: 17px;
  height: 30px;
  margin-top: 3px;
  margin-right: 60px;
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/setaesquerda1.svg");
}

.voltar-pagina:hover {
  background-image: url("http://localhost/sebastiao_alves/public/imagens/desktop/setaesquerda2.svg");
}

.avancar-pagina {
  border: none;
  width: 17px;
  height: 30px;
  margin-top: 3px;
  margin-left: 60px;
  background-image: url("http://localhost/sebastiao_alves/public//imagens/desktop/setadireita1.svg");
}

.avancar-pagina:hover {
  background-image: url("http://localhost/sebastiao_alves/public//imagens/desktop/setadireita2.svg");
}
